body {
    background: #222833;
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

body, input, select, textarea {
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
}

a {
    color: #3ac984;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 1em;
    font-family: cursive;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border-top: solid 1px #888888;
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em #888888;
    font-style: italic;
    padding: 1em 0 1em 2em;
}

section.special, article.special {
    text-align: center;
}

/******************************************************************************************************
    My Own CSS Code
******************************************************************************************************/
section.header {
    background: #A80858 url("http://sakshiprashant.com/assets/images/horizons/pic01.jpg") no-repeat center;
    background-attachment: fixed;
    vertical-align: baseline;
}

@media (max-width: 768px) {
    section.header {
        background: #A80858 url("http://sakshiprashant.com/assets/images/horizons/pic01_small.jpg") no-repeat center;
    }
}

@media (min-width: 1200px) {
    section.header {
        background: #A80858 url("http://sakshiprashant.com/assets/images/horizons/pic01_large.jpg") no-repeat center;
    }
}

.image-arrows {
    vertical-align: bottom;
    width: 100%;
    background: url("http://www.kinnerysiddharth.com/img/arrow1.png") repeat-x bottom;
}

.image-arrows2 {
    vertical-align: top;
    width: 100%;
    background: #A80858 url("http://www.kinnerysiddharth.com/img/arrow.png") repeat-x top;
}

header.top-header {
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    min-height: 95vh;
}

header.top-header h1 {
    padding-top: 30vh;
    margin-top: 0px;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.wrapper .container {
    text-align: left;
    margin: 0px auto;
    width: 90vw;
    text-align: left;
}

.wrapper.style1 {
    background: #ffffff;
    color: #A80858;
}

.wrapper.style2 {
    background: #A80858;
    color: #FFFFFF;
}

.wrapper header {
    text-align: center;
}

.wrapper header.major {
    padding-top: 10vh;
}

.border-map {
    border: solid 1vw #ffffff;
    border-radius: 2vw;
    padding: 0;
}

.bride_groom {
    width: 180px;
    height: 180px;
    background: url("http://sakshiprashant.com/assets/images/bride_groom.jpg");
    border: #A80858 solid 10px;
    border-radius: 90px;
    text-align: center;
    margin: 1px auto;
}

.bride_groom_div a {
    display: block;
}

.bride_groom_div {
    vertical-align: middle;
    padding: 30px 0px;
}

.bride_groom.bride {
    background-position-x: -472px;
    background-position-y: -136px;
}

.bride_groom.groom {
    background-position-x: -212px;
    background-position-y: -136px;
}

/******************************************************************************************************/

/******************************************************************************************************
    Footer CSS
******************************************************************************************************/
/* Footer */

#footer {
    background: #A80858;
    padding: 4em 0;
    color: #fff;
}

#footer .major h2 {
    font-size: 2em;
    color: #FFF;
}

#footer .major .byline {
    font-size: 1.1em;
}

#footer .copyright {
    margin-top: 3em;
    padding-top: 3em;
    border-top: 1px solid;
    border-color: rgba(192, 192, 192, 0.15);
    text-align: center;
    color: inherit;
}

#footer a {
    color: inherit;
}

/******************************************************************************************************/

.h2-center {
    text-align: center;
}

.family-tree {
    width: 100%;
    float: none;
}

.family-tree .family-intro {
    text-align: center;
}

.family-tree .family-intro img {
    width: 180px;
    height: 180px;
    border: solid #A80858 10px;
    border-radius: 90px;
}

.family-tree .family-intro h3 {
    text-align: center;
    font-size: 15px;
}

.gallery-img-container {
    overflow: hidden;

}

.gallery-img-container .photo-galary-small-img {
    border: #A80858 solid 6px;
    border-radius: 4px;
    width: 100%;
    background-size: cover;
    height: 200px;
    margin: 3vw auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .gallery-img-container .photo-galary-small-img {
        height: 100vh;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .gallery-img-container .photo-galary-small-img {
        height: 14vw;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .gallery-img-container .photo-galary-small-img {
        height: 12vw;
    }
}

.photo-galary-small-img:hover {
    -moz-transform: scale(1.1) rotate(4deg);
    -ms-transform: scale(1.1) rotate(4deg);
    -o-transform: scale(1.1) rotate(4deg);
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);

    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}

.photo-galary-small-img .left:hover {
    -moz-transform: scale(1.1) rotate(-4deg);
    -ms-transform: scale(1.1) rotate(-4deg);
    -o-transform: scale(1.1) rotate(-4deg);
    -webkit-transform: scale(1.1) rotate(-4deg);
    transform: scale(1.1) rotate(-4deg);
}
